.reusable__view{
    width: 100%;
    overflow-x: auto;
    padding: -1px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: visible;
    padding: 2rem;
}

.reusable__view__data{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.data-item{
    font-size: 13px;
    margin-bottom: .7rem;
    font-weight: 500;
    color: #333;
}

.data-item p{
    font-size: 12px;
    font-weight: 400;
    color: rgb(137, 138, 154);
}