


.reusable__form{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 2rem 1rem;
    border-radius: 11px;
}


.submit-button{
    width: 100%;
    padding: .8rem 0rem;
    background-color: #f0f4ff;
    color: #375bee;
    margin-top: 1rem;
}